.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.copyright {
	font: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	color: #CCC;
}

[data-role=header] {
	background: #ed1c24;
}
[data-role=footer] {
	background: #ed1c24;
	font-size: 12px;
	text-align: right;
}
.ui-field-contain input.ui-input-text {
	width: 80%;
}